/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.article-item-active {
    height: 146px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.non-active {
    display: none;
}

@media (min-width: 576px) {
    .article-item-active {
        position: relative;
        margin-bottom: 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-line-pack: center;
        align-content: center;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
}

@media (min-width: 768px) {
    .article-item-active {
        height: 136px;
        position: relative;
        margin-bottom: 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-line-pack: center;
        align-content: center;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
}

.article-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.aside-news-title {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 150%;
    /* or 30px */
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.article-title {
    color: white;
    text-align: center;
}

.article-item {
    display: none;
}

@media (min-width: 922px) {
    .article-item {
        width: 200px;
        height: 107px;
        position: relative;
        margin-bottom: 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-line-pack: center;
        align-content: center;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
    .article-item-active {
        width: 200px;
        height: 136px;
        position: relative;
        margin-bottom: 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-line-pack: center;
        align-content: center;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
    .non-active {
        display: inline-block;
    }
}

.article-menue {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.article-navigation-item {
    padding: 16px;
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    bottom: 20px;
    top: 0px;
}

.article-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    top: 20;
}

.non-active-section {
    display: none;
}

@media (min-width: 1200px) {
    .article-item {
        width: 270px;
        height: 107px;
        position: relative;
        margin-bottom: 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-line-pack: center;
        align-content: center;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
    .article-item-active {
        width: 270px;
        height: 136px;
        position: relative;
        margin-bottom: 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-line-pack: center;
        align-content: center;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
}