.aside-item {
    width: 200px;
    height: 200px;
    position: relative;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
}

.aside-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.aside-item-background {
    z-index: -2;
    position: absolute;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.aside-item-background>img {
    height: 100%;
}

.dark {
    color: #1A1C1C;
}

.light {
    color: #ffffff;
}