/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.aside-item {
    height: 479px;
    position: relative;
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.bottom-aside {
    margin: 0;
}

.bottom-aside-item {
    height: 310px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.aside-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.aside-item-background {
    z-index: -2;
    position: absolute;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.aside-item-background>img {
    height: 100%;
}

.dark {
    color: #1A1C1C;
}

.light {
    color: #ffffff;
}

.aside {
    display: none;
}

@media (min-width: 1200px) {
    .aside {
        display: block;
    }
    .bottom-aside {
        display: none;
    }
}

@media (min-width: 1200px) {
    .bottom-aside-item {
        display: none;
    }
    .aside {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}