/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.button {
    display: inline-block;
    font-size: 12px;
    line-height: 16px;
    color: white;
    background-color: #151C22;
    border: 2px solid #FF9A64;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin: 0 auto;
    text-align: center;
    padding: 11px 30px;
}

.button:hover {
    color: #151C22;
    background-color: #FF9A64;
    text-decoration: none;
    border: 2px solid black;
}

.article-button {
    display: inline-block;
    font-size: 10px;
    line-height: 16px;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 109px;
    height: 31px;
    margin: 0 auto;
    text-align: center;
    padding-top: 5px;
}