/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.card-title {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 23px;
}

.card-description {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

.card-body {
    width: 288px;
    margin-bottom: 30px;
}