/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

footer {
    display: none;
}

@media (min-width: 922px) {
    .footer {
        background: #f7f7f7;
        height: 250px;
        display: block;
    }
    .footer-title {
        font-family: 'Playfair Display', serif;
        font-style: normal;
        font-weight: 900;
        font-size: 28px;
        line-height: 37px;
        letter-spacing: 1px;
        color: #000000;
        text-align: center;
        padding-top: 26px;
    }
    .footer-hr {
        color: silver;
        opacity: 0.4;
        border: 1px solid rgba(0, 0, 0, 0.2);
    }
    .copyryght {
        color: silver;
        opacity: 0.4;
        margin: 15px;
        text-align: end;
    }
}