/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.main-news {
    position: relative;
}

.main-news-background {
    z-index: -2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.main-news-background>img {
    height: 100%;
}

.main-news {
    height: 334px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding: 10px;
}


/* side news */

.side-news-image {
    height: 91px;
    width: 127px;
}

.side-news {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.side-news-body {
    display: inline-block
}

.side-news .side-news-title {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 19px;
}

.side-news-description {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 19px;
}

.side-news-body {
    padding-left: 12px;
}