/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.rewiews-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: 0 auto;
    padding-bottom: ;
}

.rewiews-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.rewiews-nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    padding: 0;
}

.rewiews-naw-item {
    border: 1px solid white;
    color: silver;
    padding: 5px 10px;
}

.rewiews-nav-is-active {
    border: 1px solid #FF7931;
    padding: 5px 10px;
    color: #FF7931
}

.arrow-right {
    border-left: 2px solid silver;
    color: silver;
}

.arrow-left {
    border-right: 2px solid silver;
    color: silver;
}